<section id="" class="section books-section">
  <div class="container">
    <h2 class="books-title visually-hidden">Trending books</h2>
    <div class="books-group">
      <div class="books-container">
        <div class="books-header">
          <div class="books-section">
            <h3 class="books-section-title">Books</h3>
            <div class="books-show-counter"></div>
          </div>
          <div class="" id="categories-container"></div>
        </div>
        <ul class="books-list"></ul>
      </div>
      <button class="show-more-btn hidden" id="page-next">Show More</button>
    </div>
  </div>
</section>
