<section id="books" class="section books-section">
  <div class="container">
    <h2 class="books-title visually-hidden">Trending books</h2>
    <div class="books-group">
      <div class="books-container">
        <div class="books-header">
          <div class="books-section">
            <h3 class="books-section-title">Books</h3>
            <div class="books-show-counter"></div>
          </div>
          <div class="categories-container" id="categories-container"></div>
        </div>
        <div class="books-list-container">
          <ul class="books-list"></ul>
          <button
            class="btn btn--orange show-more-btn visually-hidden"
            id="page-next"
          >
            Show More
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
