<div class="contact-modal">
  <div class="container contact-container">
    <div class="register-contact-modal">
      <button
        class="close-btn close-modal contact-close-btn"
        type="button"
        aria-label="Закрити модальне"
      >
        <svg class="close-modal-icon" width="12" height="12">
          <use href="./img/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
      <h2 class="main-title">Register</h2>
      <h3 class="title">Cozy Book Club — "The Midnight Library"</h3>
      <form class=" " autocomplete="off">
        <label>
          Name
          <input
            class="contact-modal-form input"
            type="text"
            placeholder="Ann"
            name="name"
          />
        </label>
        <label>
          Email
          <input
            class="contact-modal-form input"
            type="email"
            name="email"
            placeholder="hello@booksy.com"
            autocomplete="email"
            autofocus
          />
        </label>
        <label>
          Message
          <textarea
            class="contact-modal-form message"
            name="message"
            rows="8"
            placeholder="Type your message..."
          ></textarea>
        </label>
        <button type="submit" class="btn btn--orange btn-width">
          Register
        </button>
      </form>
    </div>
  </div>
</div>
