<div class="container contact-container">
  <h1 class="main-title">Register</h1>
  <h2 class="title">Cozy Book Club — "The Midnight Library"</h2>
  
    <label>
      Name
      <textarea name="name"></textarea>
    </label>
    <label>
      Email
      <input type="email" name="email" autofocus />
      <form class=" " autocomplete="off"></form>
    </label>
    <label>
      Message
      <textarea name="message" rows="8"></textarea>
    </label>
    <button type="submit">Register</button>
  </form>
</div>
