<section id="events" class="section">
  <div class="container">
    <p class="events-text-bold">events</p>

    <h2 class="section-title events-section-title">
      Upcoming Events at Booksy
    </h2>
    <p class="text">
      Discover readings, workshops, and bookish gatherings — online and offline.
      Everyone’s welcome.
    </p>

    <div class="events-swiper swiper">
      <ul class="section-events-list swiper-wrapper">
        <li class="events-list-item swiper-slide">
          <picture class="events-images">
            <source
              srcset="
                ./img/eventss/events_dsk.jpg    1x,
                ./img/eventss/events_dsk@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="277"
            />
            <source
              srcset="
                ./img/eventss/events_tb.jpg    1x,
                ./img/eventss/events_tb@2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="277"
            />
            <img
              class="events-img"
              src="./img/eventss/events_mob.jpg"
              srcset="
                ./img/eventss/events_mob.jpg    1x,
                ./img/eventss/events_mob@2x.jpg 2x
              "
              loading="lazy"
              decoding="async"
              alt=""
              width="342"
              height="277"
            />
          </picture>
          <div class="events-body">
            <div class="events-item-text-wrapper">
              <h3 class="events-title">
                Cozy Book Club — “The Midnight Library”
              </h3>
              <p class="events-date">In-store | June 5, 6:30 PM</p>
              <p class="events-about">
                Join us for an evening of tea, thoughtful conversation, and
                shared reflections as we dive into Matt Haig’s bestseller.
              </p>
            </div>
            <button
              class="btn btn--register category open-modal"
              type="button"
              data-category='Cozy Book Club — "The Midnight Library"'
            >
              Register
              <svg class="register-icon" width="8" height="12">
                <use xlink:href="./img/icons.svg#icon-arrow-reg"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="events-list-item swiper-slide">
          <picture class="events-images">
            <source
              srcset="
                ./img/eventss/events2_dsk.jpg    1x,
                ./img/eventss/events2_dsk@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="277"
            />
            <source
              srcset="
                ./img/eventss/events2_tb.jpg    1x,
                ./img/eventss/events2_tb@2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="277"
            />
            <img
              class="events-img"
              src="./img/eventss/events2_tb.jpg"
              srcset="
                ./img/eventss/events2_tb.jpg    1x,
                ./img/eventss/events2_tb@2x.jpg 2x
              "
              loading="lazy"
              decoding="async"
              alt="Reader with handpicked books, enjoying a cozy moment."
              width="342"
              height="277"
            />
          </picture>
          <div class="events-body">
            <div class="events-item-text-wrapper">
              <p class="events-title">Book Cover Design Workshop</p>
              <p class="events-date">Online | June 12, 7:00 PM</p>
              <p class="events-about">
                A hands-on session for aspiring designers and curious readers.
                Learn what makes a cover stand out — from concept to print.
              </p>
            </div>
            <button
              class="btn btn--register category open-modal"
              type="button"
              data-category="Book Cover Design Workshop"
            >
              Register
              <svg class="register-icon" width="8" height="12">
                <use xlink:href="./img/icons.svg#icon-arrow-reg"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="events-list-item swiper-slide">
          <picture class="events-images">
            <source
              srcset="
                ./img/eventss/events3_dsk.jpg    1x,
                ./img/eventss/events3_dsk@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="277"
            />
            <source
              srcset="
                ./img/eventss/events3_dsk.jpg    1x,
                ./img/eventss/events3_dsk@2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="277"
            />
            <img
              class="events-img"
              src="./img/eventss/events3_dsk.jpg"
              srcset="
                ./img/eventss/events3_dsk.jpg    1x,
                ./img/eventss/events3_dsk@2x.jpg 2x
              "
              loading="lazy"
              decoding="async"
              alt="Reader with handpicked books, enjoying a cozy moment."
              width="342"
              height="277"
            />
          </picture>
          <div class="events-body">
            <div class="events-item-text-wrapper">
              <p class="events-title">Children’s Story Hour</p>
              <p class="events-date">In-store | June 15, 11:00 AM</p>
              <p class="events-about">
                A magical morning of stories, games, and imagination for our
                youngest book lovers (ages 4–8).
              </p>
            </div>
            <button
              class="btn btn--register category open-modal"
              type="button"
              data-category="Children's Story Hour"
            >
              Register
              <svg class="register-icon" width="8" height="12">
                <use xlink:href="./img/icons.svg#icon-arrow-reg"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div class="events-slider-btm">
      <div class="events-slider-pagination">
        <div class="events-swiper-pagination"></div>
      </div>
      <div class="events-slider-navigation">
        <button
          class="arrow events-swiper-btn-prev"
          aria-label="Previous slide"
          disabled
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="arrow events-swiper-btn-next" aria-label="Next">
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
