<section id="feedbacks" class="section">
  <div class="container feedbacks-container">
    <h2 class="section-title feedbacks-title">Customer Feedbacks</h2>
    <p class="feedbacks-title-text">
      See what our readers are saying about us!
    </p>

    <div class="feedbacks-slider swiper">
      <ul class="feedbacks-list swiper-wrapper">
        <li class="feedbacks-item swiper-slide">
          <p class="feedbacks-item-text">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>

          <div class="feedbacks-icon">
            <picture>
              <source
                srcset="
                  ./img/feedbacks/icon_Doe.webp   1x,
                  ./img/feedbacks/icon_Doex2.webp 2x
                "
                type="image/webp"
              />
              <img
                class="feedbacks-item-icon"
                loading="lazy"
                src="/src/img/feedbacks/icon_Doe.webp"
                alt="Jane Doe"
                width="48"
                height="48"
              />
            </picture>

            <div class="feedbacks-column">
              <p class="feedback-clientname">Jane Doe</p>
              <p class="feedback-clientpos">Book Lover, Reader</p>
            </div>
          </div>
        </li>

        <li class="feedbacks-item swiper-slide">
          <p class="feedbacks-item-text">
            Customer service was super helpful, and my order arrived earlier
            than expected. Highly recommend!
          </p>

          <div class="feedbacks-icon">
            <picture>
              <source
                srcset="
                  ./img/feedbacks/icon_Smith.webp   1x,
                  ./img/feedbacks/icon_Smithx2.webp 2x
                "
                type="image/webp"
              />
              <img
                class="feedbacks-item-icon"
                loading="lazy"
                src="/src/img/feedbacks/icon_Doe.webp"
                alt="Jane Doe"
                width="48"
                height="48"
              />
            </picture>

            <div class="feedbacks-column">
              <p class="feedback-clientname">John Smith</p>
              <p class="feedback-clientpos">Editor, BookMag</p>
            </div>
          </div>
        </li>

        <li class="feedbacks-item swiper-slide">
          <p class="feedbacks-item-text">
            Love the curated picks and clear descriptions. Makes it easy to find
            my next favorite book.
          </p>

          <div class="feedbacks-icon">
            <picture>
              <source
                srcset="
                  ./img/feedbacks/icon_Johnson.webp   1x,
                  ./img/feedbacks/icon_Johnsonx2.webp 2x
                "
                type="image/webp"
              />
              <img
                class="feedbacks-item-icon"
                loading="lazy"
                src="/src/img/feedbacks/icon_Doe.webp"
                alt="Jane Doe"
                width="48"
                height="48"
              />
            </picture>

            <div class="feedbacks-column">
              <p class="feedback-clientname">Emily Johnson</p>
              <p class="feedback-clientpos">Author, Novelist</p>
            </div>
        </div>
      </li>

        <li class="feedbacks-item swiper-slide">
        <p class="feedbacks-item-text">
          The book arrived in perfect condition, and I loved the personalized note inside.
    Such a thoughtful touch — I’ll definitely order again!
        </p>

        <div class="feedbacks-icon">
          <picture>
            <source srcset="./img/feedbacks/icon_Brown.webp 1x, ./img/feedbacks/icon_Brownx2.webp 2x" type="image/webp" />
            <img class="feedbacks-item-icon" loading="lazy" src="/src/img/feedbacks/icon_Doe.webp" alt="Jane Doe" width="48" height="48" />
          </picture>

            <div class="feedbacks-column">
              <p class="feedback-clientname">Sarah Brown</p>
              <p class="feedback-clientpos">Libratian, BookWorld</p>
            </div>
        </div>
      </li>

        <li class="feedbacks-item swiper-slide">
        <p class="feedbacks-item-text">
           Smooth shopping experience and a wide variety of genres.
    The recommendations section helped me discover my new favorite author!
        </p>

        <div class="feedbacks-icon">
          <picture>
            <source srcset="./img/feedbacks/icon_Miller.webp 1x, ./img/feedbacks/icon_Millerx2.webp 2x" type="image/webp" />
            <img class="feedbacks-item-icon" loading="lazy" src="/src/img/feedbacks/icon_Doe.webp" alt="Jane Doe" width="48" height="48" />
          </picture>

            <div class="feedbacks-column">
              <p class="feedback-clientname">David Miller</p>
              <p class="feedback-clientpos">Critic, ReadingTime</p>
            </div>
        </div>
      </li>


    </ul>
    </div>

    <div class="feedbacks-slider-btm">
      <div class="feedbacks-slider-pagination">
        <div class="feedbacks-swiper-pagination"></div>
      </div>
      <div class="feedbacks-slider-navigation">
        <button
          class="arrow feedbacks-swiper-btn-prev"
          aria-label="Previous"
          disabled
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="arrow feedbacks-swiper-btn-next" aria-label="Next">
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
