<footer class="footer">
  <div class="container container-footer">
    <div class="footer-wrapper">
      <div class="footer-nav-container">
        <a href="./index.html" class="footer-logo" aria-label="Site logo">
          <svg width="84" height="36">
            <use href="./img/icons.svg#icon-site-logo"></use>
          </svg>
        </a>
        <ul class="footer-nav">
          <li><a href="#home">Home</a></li>
          <li><a href="#books">Books</a></li>
          <li><a href="#feedback">Feedback</a></li>
          <li><a href="#location">Location</a></li>
        </ul>
      </div>
      <form class="footer-form">
        <label for="useremail" class="footer-par">Join</label>
        <div class="footer-form-wrapper">
          <input
            class="footer-input"
            type="email"
            id="useremail"
            placeholder="Enter your email"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
          <button class="btn footer-btn" type="submit">Sign Up</button>
          <p class="footer-form-par">* Required field</p>
        </div>
      </form>
    </div>
    <div class="footer-notice"></div>
    <p class="footer-notice-text">© 2025 Booksy. All rights reserved.</p>
  </div>
</footer>
