<footer class="footer">
  <div class="container">
    <div class="footer-nav-container">
    <svg class="footer-logo">
      <use href="./img/icons.svg#icon-site-logo"></use>
    </svg>
      <ul class="footer-nav">
        <li>Home</li>
        <li>Books</li>
        <li>Feedback</li>
        <li>Location</li>
      </ul>
    </div>
    <form class="footer-form">
      <label for="useremail" class="footer-par">Join</label>
      <input class="footer-input" type="email" id="useremail" placeholder="Enter your email">
    </form>
    <button class="footer-btn">Sign Up</button>
  </div>
</footer>
