<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="84" height="36">
          <use href="../img/logo.svg#icon-logo-company"></use>
        </svg>
      </a>

      <!-- <button type="button" class="btn-burger">
        <svg class="icon" width="16" height="12">
          <use href=""></use>
        </svg>
      </button> -->
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Feedbacks">Feedbacks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
