<section id="" class="section hero-section">
  <div class="container">
   <ul class="hero-slider" id="home">
      <li class="slide active banner-1">
        <div class="overlay ban-1">
          <p class="discount">Get 10% off your first order</p>
          <a href="#books" class="cta-button">Shop Now!</a>
        </div>
      </li>

      <li class="slide banner-2 ">
        <div class="overlay ban-2">
          <p class="discount">Save 15% on some books</p>
          <a href="#books" class="cta-button">Shop Now!</a>
        </div>
      </li>

      <li class="slide banner-3 ">
        <div class="overlay ban-3">
          <p class="discount">Get Summer Sale! Up to -40% discounts</p>
          <a href="#books" class="cta-button">Shop Now!</a>
        </div>
      </li>

      <li class="slide banner-4 ">
        <div class="overlay ban-4">
          <p class="discount">Last chance to buy our spring bestsellers</p>
          <a href="#books" class="cta-button">Shop Now!</a>
        </div>
      </li>
    </ul>

    <div class="header-row">
      <h1>Discover Your Next Great Read Today!</h1>
      <div class="slider-controls"><!-- Кнопки навігації -->
      <div class="slider-controls">
        <button class="btn--arrow prev" aria-label="Previous slide">
          <svg class="icon default" width="14" height="14">
            <use xlink:href="/sprite.svg#chevron-left"></use>
          </svg>
          <svg class="icon active" width="14" height="14">
            <use xlink:href="/sprite.svg#chevron-left-white"></use>
          </svg>
        </button>
        <button class="btn--arrow next" aria-label="Next slide">
          <svg class="icon default" width="14" height="14">
            <use xlink:href="/sprite.svg#chevron-right"></use>
          </svg>
          <svg class="icon active" width="14" height="14">
            <use xlink:href="/sprite.svg#chevron-right-white"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
<script type="module" src="../hero.js"></script>
