<section id="location" class="section location-section">
  <div class="container location-container">
    <div class="location-top">
      <div class="location-top-block">
        <h4 class="location-subtitle">Location</h4>
        <h2 class="section-title">How to find us</h2>
        <p class="location-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
          enim in eros elementum tristique.
        </p>
      </div>
      <ul class="contact-list">
        <li class="contact-item">
          <svg class="contact-icon" width="20" height="17">
            <use href="./images/icons.svg#icon-icon-email"></use>
          </svg>
          <div class="contact-item-block">
            <p class="contact-text">Email</p>
            <a href="mailto:hello@booksy.com">hello@booksy.com</a>
          </div>
        </li>

        <li class="contact-item">
          <svg class="contact-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-icon-phone"></use>
          </svg>
          <div class="contact-item-block">
            <p class="contact-text">Phone</p>
            <a href="tel:+612413043012">+61 (241) 304-3012</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
