<section id="location" class="section location-section">
  <div class="container location-container">
    <div class="location-top">
      <div class="location-top-block">
        <h4 class="location-subtitle">Location</h4>
        <h2 class="location-title">How to find us</h2>
        <p class="location-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
          enim in eros elementum tristique.
        </p>
      </div>
      <ul class="contact-list">
        <li class="contact-item">
          <svg class="contact-icon" width="20" height="17">
            <use href="./img/icons.svg#icon-mail"></use>
          </svg>
          <div class="contact-item-block">
            <p class="contact-text">Email</p>
            <a href="mailto:hello@booksy.com">hello@booksy.com</a>
          </div>
        </li>

        <li class="contact-item">
          <svg class="contact-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-tel"></use>
          </svg>
          <div class="contact-item-block">
            <p class="contact-text">Phone</p>
            <a href="tel:+612413043012">+61 (241) 304-3012</a>
          </div>
        </li>

        <li class="contact-item">
          <svg class="contact-icon" width="20" height="21">
            <use href="./img/icons.svg#icon-location"></use>
          </svg>
          <div class="contact-item-block">
            <p class="contact-text">Office</p>
            <address class="address">123 Books St, Sydney NSW 2000 AU</address>
          </div>
        </li>
      </ul>
    </div>
    <div class="map-wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.190732232528!2d151.204!3d-33.870!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae2f37f7cddf%3A0x1234567890abcdef!2s123%20Books%20St%2C%20Sydney%20NSW%202000%2C%20Australia!5e0!3m2!1sen!2sau!4v1691234567890"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</section>
