<section id="location" class="section location-section">
  <div class="container location-container">
    <div class="location-top">
      <div class="location-top-block">
        <p class="location-subtitle">Location</p>
        <h2 class="location-title">How to find us</h2>
        <p class="location-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
          enim in eros elementum tristique.
        </p>
      </div>
      <address class="contact-address">
        <ul class="contact-list" aria-label="Contact information">
          <li class="contact-item">
            <svg class="contact-icon" width="25" height="25">
              <use href="./img/icons.svg#icon-mail"></use>
            </svg>
            <div class="contact-item-block">
              <p class="contact-text">Email</p>
              <a href="mailto:hello@booksy.com">hello@booksy.com</a>
            </div>
          </li>

          <li class="contact-item">
            <svg class="contact-icon" width="25" height="25">
              <use href="./img/icons.svg#icon-tel"></use>
            </svg>
            <div class="contact-item-block">
              <p class="contact-text">Phone</p>
              <a href="tel:+612413043012">+61 (241) 304-3012</a>
            </div>
          </li>

          <li class="contact-item">
            <svg class="contact-icon" width="25" height="25">
              <use href="./img/icons.svg#icon-location"></use>
            </svg>
            <div class="contact-item-block">
              <p class="contact-text">Office</p>
              <p class="address">123 Books St, Sydney NSW 2000 AU</p>
            </div>
          </li>
        </ul>
      </address>  
    </div>
    <div class="map-wrapper">
      <iframe
        title="Google Map showing 123 Books St, Sydney"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3318.077521958117!2d150.85567247580025!3d-33.73281147327889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129be22dc8ad15%3A0xf31fa2c6393900ac!2sBooks%20St%2C%20Dean%20Park%20NSW%202761%2C%20Australien!5e0!3m2!1ssv!2sse!4v1760105856922!5m2!1ssv!2sse"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</section>
