<div id="shopping-list-backdrop" class="backdrop" aria-hidden="true">
    <div class="container shopping-list-container">
        <div id="modal" class="modal" role="dialog" aria-modal="true" aria-labelledby="modal-title">
            <button type="button" id="shopping-list-close" class="close-btn close-modal books-close-btn"
                aria-label="Закрити модальне">
                <svg width="16" height="16" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                    <use href="./img/icons.svg#icon-close-btn"></use>
                </svg>
            </button>

            <div class="shopping-list-content">
                <h2 id="modal-title" class="shopping-list-title">Shopping List</h2>
                    <ul id="shopping-list"></ul>
                    <div class="pagination">
                    </div>
            </div>
        </div>
    </div>