
.feedbacks-title-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 80px;
}

.feedbacks-slider{
    margin-bottom: 32px;
}

.feedbacks-list {
    display: flex;
}

.feedbacks-item{
    width: 341px;
    min-height: 314px;
    flex-shrink: 0;
    padding: 32px;
    border: 1px solid rgba(11, 5, 0, 0.15);
    border-radius: 16px;
    margin-right: 24px;
}

.feedbacks-item-text{
    font-size: 18px;
    margin-bottom: 24px;
}

.feedbacks-icon{
    display: flex;
    gap: 16px;
}

.feedbacks-clientname{
    font-weight: 600;
}

.feedbacks-slider-btm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.feedbacks-swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedbacks-swiper-pagination .feedbacks-swiper-pagination-bullet-active{
    background-color: #0b0500;
    opacity: 1;
}

.feedbacks-slider-navigation{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

.feedbacks-swiper-btn-prev,
.feedbacks-swiper-btn-next{
    width: 48px;
    height: 48px;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E15D05;
    fill: #fff;
    border: 1px solid rgba(11, 5, 0, 0.15);
}


.arrow:hover,
.arrow:focus{
    background-color: #FCEEE6;
    fill: #0b0500;
}

.arrow:active{
    background-color: #5A2502;
    
}

.arrow:disabled{
    background-color: #E15D05;
    opacity: 0.2;
    cursor: not-allowed;
}




@media (min-width: 768px) {
  .feedbacks-item {
    width: 340px;
    min-height: 244px;
  }

 
}

@media screen and (min-width: 1440px) {
  .feedbacks-list .feedbacks-item {
    width: 421px;
    min-height: 217px;
  }

 }
