.header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: none;
  opacity: 0;
  pointer-events: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    opacity: 1;
    pointer-events: all;
  }
}

.nav-link {
  padding: 8px 0;
  &:hover,
  &:focus {
    opacity: 0.8;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0px);
  }
}

.nav-logo-icon {
  fill: var(--black);
}

/* .nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
} */
