/* === Базові стилі (Mobile First) === */
.hero-slider {
  position: relative;
  aspect-ratio: 343 / 199;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 24px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide picture,
.hero-slide-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  width: 100%;
  padding: 16px;
}

.small-title-wrapper {
  max-width: 157px;

  @media (min-width: 768px) {
    max-width: 260px;
  }

  @media (min-width: 1440px) {
    max-width: 392px;
  }
}

.big-title-wrapper {
  max-width: 227px;

  @media (min-width: 768px) {
    max-width: 375px;
  }
  @media (min-width: 1440px) {
    max-width: 561px;
  }
}

.discount {
  position: absolute;
  bottom: 53px;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.4;
}

.cta-button {
  position: absolute;
  bottom: 16px;
  background: var(--btn-orange);
  color: white;
  text-decoration: none;
  padding: 4px 0;
  width: 100%;
  width: 117px;
  height: 20px;
  text-align: center;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: var(--main-font-family);
  font-size: 8px;
}

.cta-button:hover {
  color: #fff;
  background-color: #0b0500;
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.header-row {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 16px;
  /* padding: 24px 0 32px 0; */
}

.slider-controls {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-left: auto;
}

.icon {
  display: inline-block;
  pointer-events: none;
  vertical-align: middle;
}

.icon.active {
  display: none;
}

.nav.is-active .icon.default {
  display: none;
}

.nav.is-active .icon.active {
  display: inline-block;
}

/* === Планшети (від 768px) === */
@media (min-width: 768px) {
  .hero-slider {
    aspect-ratio: 704 / 274;
    border-radius: 0;
  }

  .overlay {
    padding: 40px;
  }

  .discount {
    font-size: 32px;
    line-height: 1.2;
    bottom: 80px;
  }

  .cta-button {
    bottom: 32px;
    width: 164px;
    height: 32px;
    font-size: 16px;
  }

  .header-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 24px 0 32px 0; */
  }

  .slider-controls {
    display: flex;
    gap: 20px;
  }
}

/* === Десктопи (від 1440px) === */
@media (min-width: 1440px) {
  .hero-slider {
    height: 395px;
    aspect-ratio: auto;
    border-radius: 16px;
  }

  .overlay {
    padding: 56px;
  }

  .discount {
    bottom: 116px;
    font-size: 52px;
  }

  .cta-button {
    bottom: 56px;
    width: 227px;
    height: 40px;
    font-size: 16px;
    padding: 8px 0;
  }

  .slider-controls {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
  }
}
