/* Styles for Mobile devices */
.location-subtitle {
  font-size: 16px;
  margin-bottom: 16px;
}

.location-title {
  font-size: 48px;
  margin-bottom: 24px;
}

.location-text {
  font-size: 18px;
  margin-bottom: 32px;
}




/* Styles for Tablet devices */
.location-top {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 32px;
}

.location-top-block {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	/*max-width: 336px;*/
}



/* Styles for Desktop devices */