.shopping-list-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#shopping-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shopping-list-item {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.shopping-list-item img {
  width: 100%;
  height: 487px;
  border-radius: 8px;
  object-fit: contain;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.shopping-pagin-btn {
  width: 48px;
  height: 48px;
  padding: 12px;
  border: 1px solid rgba(11, 5, 0, 0.15);
  background-color: #e15d05;
  /* або свій колір */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  &:hover,
  &:focus {
    transform: scale(1.1);
    background-color: #fceee6;
    color: #0b0500;
  }

  &:active {
    background-color: var(--btn-active-orange);
    transform: translateY(3px);
  }

  &:disabled {
    background: #0b0500;
    color: #ffffff;
    opacity: 0.2;
  }
}

@media (min-width: 768px) {
  #shopping-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .remove-btn {
    max-width: 340px;
  }
}

@media (min-width: 1440px) {
  .remove-btn {
    max-width: 227px;
  }

  #shopping-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 24px;
  }

  .shopping-list-item img {
    width: 227px;
    height: 322px;
    border-radius: 8px;
    object-fit: contain;
  }
}